<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <title>Document</title>
</head>
<body>
     <div class="container">
          <h1>Alumni Information</h1>
          <h3>Personal Information</h3>
          <table class="table table-bordered">
               <tr>
                    <td>Last Name:   {{lastName}}</td>
                    <td>First Name:   {{firstName}}</td>
                    <td>Middle Name:   {{middleName}}</td>
               </tr>
               <tr>
                    <td colspan="2">Email:   {{emailAddress}}</td>
                    <td>Phone:   {{contactNumber}}</td>
               </tr>
               <tr>
                    <td colspan="2">Address:    {{address}}</td>
                    <td>Zip Code:   </td>
               </tr>
               <tr>
                    <td>Place of Birth:   </td>
                    <td>Gender:    {{gender}}</td> 
                    <td>Civil Status:    {{civilStatus}}</td> 
               </tr>
          </table>

          <h3>Educational Background</h3>
          <table class="table table-bordered">
               <tr>
                    <th>Education Level</th>
                    <th>Major Field</th> 
                    <th>Learning Institution</th> 
                    <th>Year Graduated</th> 
                    <th>Honors/Awards</th> 

               </tr>
                    {{#each educationalBackground as | educationData |}}
                      <tr>
                         <td>{{@educationData.educationalLevel}}</td>
                         <td>{{@educationData.major}}</td>
                         <td>{{@educationData.schoolName}}</td>
                         <td>{{@educationData.yearGraduated}}</td>
                         <td>{{@educationData.honors}}</td>
                      </tr>
                    {{/each}}
          </table>


          <h3>Family Background</h3>
          <table class="table table-bordered">
               <tr>
                    <td>Mother's Last Name:    {{lastNameMother}}</td>
                    <td>Mother's First Name:    {{firstNameMother}}</td>
                    <td>Mother's Middle Name:    {{middleNameMother}}</td>
               </tr>
               <tr>
                    <td>Father's Last Name:    {{lastNameFather}}</td>
                    <td>Father's First Name:    {{firstNameFather}}</td>
                    <td>Father's Middle Name:    {{middleNameFather}}</td>
               </tr>
          </table>


          <h3>Training Programs</h3>
          <table class="table table-bordered">
               <tr>
                    <th>Title</th>
                    <th>Date of Attendance/Completion</th>
                    <th>Conducted/Sponsored by</th>
               </tr>
             
                    {{#each trainingPrograms}}
                      <tr>
                         <td>{{@title}}</td>
                         <td>{{@date}}</td>
                         <td>{{@organizer}}</td>
                      </tr>
                    {{/each}}

          </table>
          <h3>Other Information</h3>
          <div class="d-flex">
               <table class="table table-bordered">
                    <tr>
                         <th>Special Skills/Hobbies</th>
                    </tr> 
                    {{#each skills as | skill |}}
                    <tr>
                         <td>{{skill}}</td>
                    </tr> 
                    {{/each}}
               </table>
               <table class="table table-bordered">
                    <tr>
                         <th>Membership in Association/Organization</th>
                    </tr>
                         {{#each organizations as | org |}}
                              <tr>
                                   <td>{{org}}</td>
                              </tr>
                         {{/each}}
                    </tr>
               </table>
          </div>          
     </div>
</body>
</html>